#map {
    float:left;
}

h2{
    margin-top:5%;
    margin-left:30%;
    margin-right:5%;

}

#legend {

    float:right;
}
#legend1 {
    float:right;
}
#geoPick {
    margin-bottom: 30px;
    float:right;
    font-size:20px
}

h1 {
text-align:center;
}

body {
    background-color:#E6E0D0;
}

span {
    font-size:20px;
}