#map {
    float:left;
}

#geoPick {
    margin-bottom: 30px;
    float:right;
    font-size:20px
}

h1 {
text-align:center;
}

body {
    background-color:#E6E0D0;
}

span {
    font-size:20px;
}

#box1 {
    float:right;

}

#box2 {
    float:right;
}